<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{41,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{82,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{123,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{164,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{205,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{246,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,56}</string>
                <key>spriteSourceSize</key>
                <string>{41,56}</string>
                <key>textureRect</key>
                <string>{{287,0},{41,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{412,0},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{462,0},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{0,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{50,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{100,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{150,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{200,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{50,52}</string>
                <key>textureRect</key>
                <string>{{250,58},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{300,58},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{352,58},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{404,58},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{456,58},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{0,117},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TakeHit6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{52,117},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{113,245},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{240,245},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265487,0.447761}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{54,178},{113,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265487,0.447761}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{167,178},{113,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265487,0.447761}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{280,178},{113,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265487,0.447761}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{393,178},{113,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.265487,0.447761}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,67}</string>
                <key>spriteSourceSize</key>
                <string>{113,67}</string>
                <key>textureRect</key>
                <string>{{0,245},{113,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{367,245},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack4 - Copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{0,320},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{127,320},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{254,320},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.23622,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,75}</string>
                <key>spriteSourceSize</key>
                <string>{127,75}</string>
                <key>textureRect</key>
                <string>{{381,320},{127,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{104,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{156,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{208,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{260,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{312,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{52,60}</string>
                <key>textureRect</key>
                <string>{{364,117},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{416,117},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,61}</string>
                <key>spriteSourceSize</key>
                <string>{54,61}</string>
                <key>textureRect</key>
                <string>{{0,178},{54,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{328,0},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jump2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{42,58}</string>
                <key>textureRect</key>
                <string>{{370,0},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{512,395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bb53276e59ffd373e695cb9f586ce1d:36235e4fddc98154da182c411de65259:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
