<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATK_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.818182,0.46875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{0,889},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.818182,0.46875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{0,953},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.818182,0.46875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{0,1017},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATK_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.818182,0.46875}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{0,1081},{110,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,448},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,511},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,574},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,637},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,700},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,763},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Die (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.724138,0.47619}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,63}</string>
                <key>spriteSourceSize</key>
                <string>{87,63}</string>
                <key>textureRect</key>
                <string>{{0,826},{87,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Katk_Crit (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.728155,0.333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{0,1145},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Katk_Crit (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.728155,0.333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{0,1235},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Katk_Crit (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.728155,0.333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{0,1325},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Katk_Crit (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.728155,0.333333}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,90}</string>
                <key>spriteSourceSize</key>
                <string>{103,90}</string>
                <key>textureRect</key>
                <string>{{0,1415},{103,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhayr (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{74,216},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhayr (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{0,272},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhuns (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{36,272},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhuns (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{69,272},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhuns (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{0,328},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Nhuns (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.535714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{33,56}</string>
                <key>textureRect</key>
                <string>{{33,328},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Roiw (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.545455}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{0,216},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Roiw (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,55}</string>
                <key>spriteSourceSize</key>
                <string>{37,55}</string>
                <key>textureRect</key>
                <string>{{37,216},{37,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,54},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{50,54},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,108},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{50,108},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{0,162},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Runn (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{50,54}</string>
                <key>textureRect</key>
                <string>{{50,162},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Thit (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{66,328},{39,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Thit (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{0,388},{39,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Thit (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,60}</string>
                <key>spriteSourceSize</key>
                <string>{39,60}</string>
                <key>textureRect</key>
                <string>{{39,388},{39,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>KenJi.png</string>
            <key>size</key>
            <string>{110,1505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32199b8a2dbbc937c5e3ba65c7a12592:80344c954c17bc71647a75a7235870fe:83ef499f1bdb601f85bc325e903b51e6$</string>
            <key>textureFileName</key>
            <string>KenJi.png</string>
        </dict>
    </dict>
</plist>
