<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{118,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{236,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{354,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{472,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,128}</string>
                <key>spriteSourceSize</key>
                <string>{118,128}</string>
                <key>textureRect</key>
                <string>{{590,0},{118,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Shop.png</string>
            <key>size</key>
            <string>{708,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6963cd85b9a1bc1225554b722d8479b5:39ba8d53e2566104250fe40babd69d19:366a70e5947bb481e152b2f139bc3c30$</string>
            <key>textureFileName</key>
            <string>Shop.png</string>
        </dict>
    </dict>
</plist>
